@font-face {
  font-family: 'PtMono';
  src: url('../fonts/PtMono-Bold-webfont.eot');
  src: url('../fonts/PtMono-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/PtMono-Bold-webfont.woff') format('woff'), 
       url('../fonts/PtMono-Bold-webfont.ttf') format('truetype'), 
       url('../fonts/PtMono-Bold-webfont.svg#PtMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PtMono';
  src: url('../fonts/PtMono-Regular-webfont.eot');
  src: url('../fonts/PtMono-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/PtMono-Regular-webfont.woff') format('woff'), 
       url('../fonts/PtMono-Regular-webfont.ttf') format('truetype'), 
       url('../fonts/PtMono-Regular-webfont.svg#PtMono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSans-LightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Light-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-Italic-webfont.svg#OpenSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), 
       url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

.wcodp h1, .wcodp h2, .wcodp h3, .wcodp h4 {
	font-family: "OpenSans";
	color: #0070cf;
}

.wcodp h2 {
    font-size: 26px;
    line-height: 36px;
    color: #0070cf;
}

.wcodp .accordion-heading a:hover {
	color: #332e1f;
}

.wcodp .accordion-heading.active a {
	color: #332e1f;
}

.wcodp a {
	color: #332e1f; 
}

.wcodp .btn {
	color: #332e1f; 
}

.wcodp .btn:hover, .wcodp .btn.active {
	color: #332e1f; 
}

/*.wcodp a:hover, .wcodp a:focus {
	color: #EF3824; 
	text-decoration: none;
}*/

.wcodp {
	font-family: 'OpenSans';
}

.wcodp form h1, .wcodp form h2, .wcodp form h3, .wcodp form h4 {
	/*color: #7F8184; */
	/*rgb(16,118,125);*/
}

.wcodp .btn-primary {
	background: #332e1f;
	/*background: #0070cf;*/
	color: white;
}

.wcodp .btn-primary:hover {
	background: #13972D;
	/*background: #1397FF;*/
	color: white;
}

.wcodp .form-search input {
	width: 75%;
}

.wcodp .form-search > div {
	padding-left: 10px;
}

.wcodp .nav-tabs > li a {
	font-family: "PtMono";
	font-size: 19px;
	color: #332e1f; 
}

.wcodp .sidebar-nav .nav-tabs a {
	border: 0;
}

.wcodp .sidebar-nav .nav-tabs li.active a, .wcodp .sidebar-nav .nav-tabs li.active:hover a {
	border: 0;
	border-bottom: 2px solid #332e1f;
	background-color: inherit;
}

.wcodp .sidebar-nav .nav-tabs li:hover a {
	border: 0;
	color: #0070cf; 
}

.wcodp .nav > li > a:hover, .wcodp .nav > li > a:focus {
	background-color: inherit;
}

.wcodp .nav-tabs > li.active a {
    color: #0070cf;
}

.wcodp .accordion-toggle span {
	font-family: "PtMono";
	font-size: 16px;
}

.wcodp .accordion-heading.active {
	font-weight: inherit;
}

.wcodp .accordion-inner .btn:hover, .wcodp .accordion-inner .btn:focus {
	color: #332e1f;
}

.wcodp .dropdown-menu > li > a {
	background: inherit;
	color: #332e1f;
}

.wcodp .dropdown-menu > .active > a {
	background: #D9EDFF;
}

.wcodp .dropdown-menu > li > a:hover {
	background: #D9EDFF;
	color: #332e1f;
}

.wcodp #overview-overlay {
	background: #D9EDFF;  /* for IE */
	background: rgba(217,237,255, .95);
}

.wcodp #overview-overlay-content {
	color: #332e1f;
}

.wcodp #aggregated-attribute-overlay > div {
	background: #332e1f;  /* for IE */
	background: rgba(0, 135, 29, .65);
}

.wcodp #login-buttons a {
	background: white;  
	opacity: .9;
	color: #332e1f;  /* for IE */
}

.wcodp #login-buttons a:hover { 
	opacity: 1;
}

.wcodp #login-buttons .dropdown-menu {
	background: white; 
	color: #332e1f;  /* for IE */
}

.wcodp #login-buttons .dropdown-menu a {
	background: white; 
	color: #332e1f;  /* for IE */
}

.wcodp #login-buttons .dropdown-menu a:hover {
	background: #D9EDFF;  /* for IE */
}

.wcodp #basemaps a {
	background: #D9EDFF;  /* for IE */
	background: rgba(217, 237, 255, .95);
	color: #332e1f;
	opacity: 1;
}

.wcodp #basemaps a:hover {
	background: #E9FDFF;  /* for IE */
	background: rgba(233, 253, 255, .95);
}

.wcodp #basemaps a span:first-of-type {
	/*position: absolute;
	left: 35px;*/
}

.wcodp .SimpleLayerSwitcher {
	background: #D9EDFF;  /* for IE */
	background: rgba(217, 237, 255, .85);
	color: #332e1f;
	border-radius: 4px;
}

.wcodp .SimpleLayerSwitcher a.basey {
	background: #D9EDFF;  /* for IE */
	background: rgba(217, 237, 255, .85);
	color: #332e1f;
}

.wcodp .SimpleLayerSwitcher a.basey:hover {
	background: #E9FDFF;  /* for IE */
	background: rgba(233, 253, 255, .85);
}

.wcodp div.olControlZoom {
	padding: 0px;
}

.wcodp div.olControlZoom a {
	background: #D9EDFF;  /* for IE */
	background: rgba(217, 237, 255, .85);
	color: #332e1f;
}

.wcodp div.olControlZoom a:hover {
	background: #E9FDFF;  /* for IE */
	background: rgba(233, 253, 255, .85);
}

.wcodp #feedback-tab {
	bottom: -2px;
	background: #D9EDFF;  /* for IE */
	background: rgba(217, 237, 255, .85);
	margin-left: 50%;
	margin-right: 50%;
	border: 0;
}

.wcodp #feedback-tab:hover {
	background: #E9FDFF;  /* for IE */
	background: rgba(233, 253, 255, .85);
}

.wcodp #feedback-tab a {
	color: #332e1f;
}

.wcodp #feedback-modal form {
	margin-bottom: 0px;
}

.wcodp .olControlAttribution {
	width: 40%;
}

.wcodp .legend-title {
	color: #7F8184;
}

/*** Mobile Map ***/
.wcodp .bar-title {
	background: rgba(217, 237, 255, .85);
	color: #332e1f;
}
.wcodp .bar-title a {
	background: rgba(217, 237, 255, .85);
	color: #332e1f;
}

.ui-datepicker {
    z-index: 999 !important;
}