
<!-- DESIGN MAP LINKS MODAL -->

<div id="media-print-modal" style="display:none; width: 450px;" class="modal hide fade" data-bind="with: app.viewModel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Before you Print...</h3>
    </div>
    
    <div class="modal-body" style="height: 165px; overflow: hidden"> 
        <div class="row-fluid" style="padding-top: 5px">
            <div>
            	<p>Please Note!  Browsers vary on their ability to capture map views well.</p>
            	<p>In general, <b>Landscape Format</b> works better than Portrait.</p>
            	<p>Regardless, you will likely need to experiment with the <b>Print Preview</b> dialog and the Marine Planner map view to ensure the map view that you want is the map view that is being printed. </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
        <button href="#" class="btn" data-dismiss="modal" onclick="window.print()">Continue Printing</button>
    </div>
</div>

